body {
	background-color: rgb(82, 86, 89);
	font-size: 13px;
	color: #2d2d2d;
	font-family: 'Dosis','Helvetica Neue', Helvetica,Arial,sans-serif;
}

a {
	text-decoration: none;
}

svg {
	fill: currentColor;
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100%;
}

/* Misc styles */
#wrapper {
	background-color: #fefefe;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.middot {
    -webkit-text-fill-color: #2d2d2d;
 	-webkit-text-stroke-color: #2d2d2d;
 	-webkit-text-stroke-width: 3px;
  	margin-right: 3px; 
 	margin-left: 3px; 
}

/* Styles for toolbar */
#toolbar {
	position: fixed;
    height: 48px;
    width: 100%;
    background: rgb(50, 54, 57);
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    text-align: center;
}

#toolbar .title {
	display: inline-block;
	color: #fefefe;
	margin-left: 30px;
	line-height: 48px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.6px;
	float: left;
}


#toolbar .page-number {
    color: #fefefe;
    letter-spacing: 10px;
    position: relative;
    font-size: 15px;
    line-height: 48px;
}

#toolbar .action-icons {
	display: inline-block;
	float: right;
	margin-right: 50px;
}

#toolbar .action-icons .print, #toolbar .action-icons .download {
	height: 20px;
	width: 20px;
	color: #fefefe;
	display: inline-block;
	padding-top: 12.5px;
}
 #toolbar .action-icons .download {
 	padding-right: 20px;
 }



/* Styles for the header */
#header {
	text-align: center;
	padding-bottom: 22px;
    border-bottom: 1px solid #2d2d2d;
    margin-bottom: 30px;
}

#header .name {
	font-size: 30px;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 10px;
	margin-bottom: 10px;
}

#header .info .gmail, #header .info .number {
	display: inline-block;
	padding-left: 10px;
    padding-right: 10px;
}

#header .info .gmail {
	border-right: 1px solid #2d2d2d;
}

/* Styles for content */ 
#content .left-column, #content .right-column {
	box-sizing: border-box;
	display: inline-block;
}

#content .left-column {
	width: 35%;
	padding-right: 20px;
}
#content .right-column {
	width: 65%;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid #2d2d2d;
}

#content h2 {
	font-size: 20px;
	margin-top: 7px;
	margin-bottom: 7px;
	font-weight: 500;
    display: inline-block;
    border-bottom: 1px dashed #2d2d2d;
}

#content h3 {
	font-size: 15px;
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: 600;
}

#content .left-column .contact, #content .left-column .prog-skills {
	margin-bottom: 20px; 
}

#content .left-column .address {
	display: inline-block;
	margin-bottom: 15px;
}
#content .left-column .social img {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	border-radius: 50%;
}

#content .left-column .linkedin {
	margin-right: 10px;
}

#content .left-column .prog-skills ul, #content .right-column .workex ul,  #content .right-column .achievements ul, #content .left-column .interests ul  {
	padding-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#content .right-column .education .gpa, #content .right-column .achievements .achievement-x {
	text-decoration: underline;
}

#content .right-column .details-header .name {
	float: left;
}

#content .right-column .details-header .timeline {
	float: right;
}

#content .right-column .projects .languages {
	border-right: 1px solid #2d2d2d;
	padding-right: 10px;
}

#content .right-column .projects .demo {
	padding-left: 10px;
}

/* Styles for mobile */

@media only screen and (max-width: 768px) {
	#wrapper {
		margin-top: 0;
		margin-bottom: 0;
	}
	#content .left-column {
		width: 100%;
		border: none;
	}
	#content .right-column {
		width: 100%;
		float: none;
		padding-left: 0;
		padding-right: 0;

	}
	#toolbar .page-number {
		display: none;
	}
	#toolbar .title {
		margin-left: 15px;
	}
	#toolbar .action-icons  {
		margin-right: 15px;
	}
}

@media print {
  body * {
    visibility: hidden;
  }
  #wrapper * {
    visibility: visible;
  }
  #wrapper {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
  }

  #content .right-column {
  	padding-right: 0;
  }
  @page { margin: 0; }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

